<?xml version="1.0"?>
<!--
/**
 * Yireo DisableLog for Magento 
 *
 * @package     Yireo_DisableLog
 * @author      Yireo (https://www.yireo.com/)
 * @copyright   Copyright 2016 Yireo (https://www.yireo.com/)
 * @license     Open Source License (OSL v3)
 */
-->
<config>

    <modules>
        <Yireo_DisableLog>
            <version>0.0.13</version>
        </Yireo_DisableLog>
    </modules>

    <global>
        <helpers>
            <disablelog>
                <class>Yireo_DisableLog_Helper</class>
            </disablelog>
        </helpers>

        <models>
            <disablelog>
                <class>Yireo_DisableLog_Model</class>
            </disablelog>
            <log>
                <rewrite>
                    <visitor>Yireo_DisableLog_Model_Rewrite_Log_Visitor</visitor>
                </rewrite>
            </log>
            <catalogsearch>
                <rewrite>
                    <query>Yireo_DisableLog_Model_Rewrite_Catalogsearch_Query</query>
                </rewrite>
            </catalogsearch>
        </models>

        <skip_user_agents>
            <appengine>AppEngine-Google</appengine>
            <bingbot>bingbot</bingbot>
            <googlebot>Googlebot</googlebot>
            <pingdom>Pingdom.com_bot_version</pingdom>
            <hosttracker>HostTracker.com</hosttracker>
            <yahoo>ysearch/slurp</yahoo>
            <baidu>Baiduspider</baidu>
            <socialmedia>SocialMedia Bot</socialmedia>
            <exabot>Exabot</exabot>
            <soso>Sosospider+</soso>
            <tweetmeme>TweetmemeBot</tweetmeme>
            <comodo1>Comodo-Certificates-Spider</comodo1>
            <comodo2>Comodo SSL Checker</comodo2>
            <speedy>Speedy Spider</speedy>
            <twitter>Twitterbot/</twitter>
            <sitespeed>SiteSpeedBot</sitespeed>
            <zooka>Zookabot/</zooka>
            <njuice>NjuiceBot</njuice>
            <friendfeed>FriendFeedBot/</friendfeed>
            <huawei>Huaweisymantecspider</huawei>
            <docomo>DoCoMo/</docomo>
            <msn>msnbot/</msn>
            <msnbotmedia>msnbot-media/</msnbotmedia>
            <worio>woriobot support</worio>
            <archiver>ia_archiver</archiver>
            <passwordthumbs>1PasswordThumbs</passwordthumbs>
            <twingly>Twingly Recon</twingly>
            <tlsprober>TLSProber/</tlsprober>
            <postrank>PostRank/</postrank>
            <jskit1>JS-Kit URL Resolver, http://js-kit.com/</jskit1>
            <dotnetcom>dotnetdotcom.org</dotnetcom>
            <gigabot>Gigabot/</gigabot>
            <search17>Search17Bot</search17>
            <mj12>MJ12bot</mj12>
            <misc1>Robot</misc1>
            <misc2>Spider</misc2>
            <misc3>Crawler</misc3>
            <discobot>discobot/</discobot>
            <legs80>80legs.com/webcrawler</legs80>
            <kiwistatus>KiwiStatus/</kiwistatus>
            <dps>PXHOST</dps>
            <pycurl>PycURL/</pycurl>
            <voyager>Voyager/</voyager>
            <dowjones>Dow Jones Searchbot</dowjones>
            <ahrefs>AhrefsBot/</ahrefs>
            <beslist>BeslistBot/</beslist>
            <cartdown>CartDown.com</cartdown>
            <curl>curl/</curl>
            <daisycon>Daisycon.com/bot</daisycon>
            <facebookexternalhit>facebookexternalhit/</facebookexternalhit>
            <googleadsbot>AdsBot-Google</googleadsbot>
            <googleimageproxy>GoogleImageProxy</googleimageproxy>
            <googleshoppingquality>Google-Shopping-Quality</googleshoppingquality>
            <img_cache>IMG CACHE</img_cache>
            <imgix>imgix/</imgix>
            <kieskeurig>Kieskeurig</kieskeurig>
            <klezzer>Klezzer</klezzer>
            <ltx71>ltx71</ltx71>
            <megaindex>MegaIndex.ru</megaindex>
            <nagios>nagios</nagios>
            <newrelicpinger>NewRelicPinger/</newrelicpinger>
            <okhttp>okhttp/</okhttp>
            <openoffice>Apache OpenOffice/</openoffice>
            <pinterest>Pinterest/</pinterest>
            <pretzel>pretzel/imagefly</pretzel>
            <ruby>Ruby</ruby>
            <semrushbot>SemrushBot/</semrushbot>
            <seoscanners>seoscanners.net</seoscanners>
            <swcd>swcd</swcd>
            <uptimerobot>UptimeRobot/</uptimerobot>
            <webmeup>BLEXBot/</webmeup>
            <weserv>ImageFetcher/</weserv>
            <wiseguys>Vagabondo/</wiseguys>
            <yandex>Yandex</yandex>
            <yandex_directfetcher>YaDirectFetcher/</yandex_directfetcher>
        </skip_user_agents>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <Yireo_DisableLog>
                    <files>
                        <default>Yireo_DisableLog.csv</default>
                    </files>
                </Yireo_DisableLog>
            </modules>
        </translate>

        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <disablelog translate="title" module="disablelog">
                                            <title>DisableLog Section</title>
                                        </disablelog>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>

        <events>
            <controller_action_predispatch>
                <observers>
                    <disablelog_feed>
                        <type>singleton</type>
                        <class>Yireo_DisableLog_Observer_Feed</class>
                        <method>controllerActionPredispatch</method>
                    </disablelog_feed>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>

    <default>
        <disablelog>
            <settings>
                <enabled>1</enabled>
                <disable_all>0</disable_all>
            </settings>
        </disablelog>
    </default>
</config>
