<?xml version="1.0"?>
<!--
/**
 * Yireo DisableLog for Magento 
 *
 * @package     Yireo_DisableLog
 * @author      Yireo (https://www.yireo.com/)
 * @copyright   Copyright 2016 Yireo (https://www.yireo.com/)
 * @license     Open Source License (OSL v3)
 */
-->
<config>

    <modules>
        <Yireo_DisableLog>
            <version>0.0.7</version>
        </Yireo_DisableLog>
    </modules>

    <global>
        <helpers>
            <disablelog>
                <class>Yireo_DisableLog_Helper</class>
            </disablelog>
        </helpers>

        <models>
            <disablelog>
                <class>Yireo_DisableLog_Model</class>
            </disablelog>
            <log>
                <rewrite>
                    <visitor>Yireo_DisableLog_Model_Rewrite_Log_Visitor</visitor>
                </rewrite>
            </log>
            <catalogsearch>
                <rewrite>
                    <query>Yireo_DisableLog_Model_Rewrite_Catalogsearch_Query</query>
                </rewrite>
            </catalogsearch>
        </models>

        <skip_user_agents>
            <appengine>AppEngine-Google</appengine>
            <bingbot>bingbot</bingbot>
            <googlebot>Googlebot</googlebot>
            <pingdom>Pingdom.com_bot_version</pingdom>
            <hosttracker>HostTracker.com</hosttracker>
            <yahoo>ysearch/slurp</yahoo>
            <baidu>Baiduspider</baidu>
            <yandex>YandexBot</yandex>
            <socialmedia>SocialMedia Bot</socialmedia>
            <exabot>Exabot</exabot>
            <soso>Sosospider+</soso>
            <tweetmeme>TweetmemeBot</tweetmeme>
            <comodo1>Comodo-Certificates-Spider</comodo1>
            <comodo2>Comodo SSL Checker</comodo2>
            <speedy>Speedy Spider</speedy>
            <twitter>Twitterbot/0.1</twitter>
            <sitespeed>SiteSpeedBot</sitespeed>
            <zooka>Zookabot/2.1;++http://zookabot.com</zooka>
            <njuice>NjuiceBot</njuice>
            <friendfeed>FriendFeedBot/0.1</friendfeed>
            <huawei>Huaweisymantecspider</huawei>
            <docomo>DoCoMo/2.0</docomo>
            <msn>msnbot/</msn>
            <worio>woriobot support</worio>
            <archiver>ia_archiver</archiver>
            <passwordthumbs>1PasswordThumbs</passwordthumbs>
            <twingly>Twingly Recon</twingly>
            <tlsprober>TLSProber/0.1</tlsprober>
            <postrank>PostRank/2.0 (postrank.com)</postrank>
            <jskit1>JS-Kit URL Resolver, http://js-kit.com/</jskit1>
            <dotnetcom>dotnetdotcom.org</dotnetcom>
            <gigabot>Gigabot/</gigabot>
            <search17>Search17Bot</search17>
            <mj12>MJ12bot</mj12>
            <misc>Bot,Robot,Spider,Crawler</misc>
            <discobot>discobot/</discobot>
            <legs80>80legs.com/webcrawler</legs80>
            <kiwistatus>KiwiStatus/</kiwistatus>
            <dps>PXHOST</dps>
            <pycurl>PycURL/</pycurl>
            <voyager>Voyager/</voyager>
            <dowjones>Dow Jones Searchbot</dowjones>
        </skip_user_agents>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <Yireo_DisableLog>
                    <files>
                        <default>Yireo_DisableLog.csv</default>
                    </files>
                </Yireo_DisableLog>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <disablelog translate="title" module="disablelog">
                                            <title>DisableLog Section</title>
                                        </disablelog>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>

        <events>
            <controller_action_predispatch>
                <observers>
                    <disablelog_controller_action_predispatch>
                        <type>singleton</type>
                        <class>Yireo_DisableLog_Model_Observer</class>
                        <method>controllerActionPredispatch</method>
                    </disablelog_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>

    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <log><type>disabled</type></log>
                </observers>
            </controller_action_predispatch>
            <controller_action_postdispatch>
                <observers>
                    <log><type>disabled</type></log>
                </observers>
            </controller_action_postdispatch>
        </events>
    </frontend>

    <default>
        <disablelog>
            <settings>
                <enabled>1</enabled>
                <disable_all>0</disable_all>
            </settings>
        </disablelog>
    </default>
</config>
